.page-main {
  margin: var(--spacing-xl) 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: var(--spacing-md);
  min-height: 100vh;
}
.new-note {
  height: fit-content;
  gap: var(--spacing-xxs);
  width: 60%;
}
.add-icon,
.filter-icon {
  font-size: 2rem;
}
.new-note-text {
  width: 100%;
  padding: 0.7rem var(--spacing-xs);
  font-size: var(--font-size-sm);
  border-radius: var(--border-rd-sm);
  color: var(--secondary-color);
  box-shadow: 1px 2px 25px lightgrey;
}
.notes-section {
  gap: var(--spacing-xl);
}
.notes-display-section {
  gap: var(--spacing-sm);
}
.notes-section-header{
  gap:var(--spacing-sm);
}
@media only screen and (max-width: 400px) {
  .new-note {
    width: 90%;
  }
}
