header {
  padding: var(--spacing-xs);
}
.header-hero,
.nav {
  gap: var(--spacing-xs);
}
.hero-logo {
  width: clamp(3.5rem, 5rem, 7rem);
}
.hero-heading {
  color: var(--primary-color);
}
.nav-btn {
  height: fit-content;
  padding: var(--spacing-xxs) var(--spacing-sm);
  border-radius: var(--border-rd-xs);
}
.btn-login {
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn-signup {
  border: 3px solid var(--primary-color);
  background-color: var(--white-color);
}
.user-name {
  font-size: var(--font-size-sm);
}
.btn-logout {
  border-radius: var(--border-rd-sm);
  padding: 0.2rem var(--spacing-xxs);
  background-color: var(--required-field-indicator-color);
  color: var(--white-color);
}
