@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
:root {
  /** colors **/
  --primary-color: hsl(217, 5%, 31%);
  --secondary-color: hsl(223, 5%, 26%);
  --accent-color:hsl(174, 100%, 21%);
  --footer-highlighted-text-color: hsl(120, 3%, 33%);
  --form-input-bg-color: hsl(0, 0%, 93%);
  --required-field-indicator-color: hsl(0, 95%, 60%);
  --active-nav-item-background-color: hsl(45, 97%, 88%);

  /** spacings **/
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 3.5rem;

  /** font-size **/
  --font-size-xxs: 0.8rem;
  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.6rem;
  --font-size-xl: 1.8rem;

  /** font-weight **/
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /** border-radius **/
  --border-rd-xs: 3px;
  --border-rd-sm: 6px;
  --border-rd-md: 8px;
  --border-rd-lg: 16px;
  --border-rd-xl: 24px;
  --border-rd-round: 50%;
}
/** overriding component library styles **/
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0;
}
.display-none {
  display: none;
}
.app-icon {
  color: var(--secondary-color);
  cursor: pointer;
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 140%;
  }
}
